.dap-breakpoints
.last-package-update-day
.lsp-session-v1
.mc-lists.el
.smex-items
3rdparty
amx-items
bookmarks
cnfonts/
ditaa.jar
elpa-26.3/
eshell/
forge-database.sqlite
offline
plantuml.jar
projectile-bookmarks.eld
projectile.cache
pyim/
quelpa/
recentf
request/
rime/
smex-items
tmp
url/
.pyc
